@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 30px;
}

button {
  float: right;
  margin: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr,
th {
  background-color: #cdf5fd;
  color: #00a9ff;
}

tr,
td {
  border: 1px solid #000;
  background-color: #fff;
}
