.calendar-container {
  background-color: #cdf5fd;
  width: 100%;
  margin: auto;
  position: absolute;
}

.weekdays-container {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.weekdays-container .week-day {
  color: #00a9ff;
}
